#scripture {
    position: absolute;
    z-index: 9999999;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    width: 600px;
    margin-left: 25%;
    margin-top: 25%;
    font-size: 40px;



}

.container {
    position: absolute;
    text-align: center;
    color: white;
}
